:root{
    --heigth-header:60px;
    --color-primary:#ACD9B2;
    --color-text-gray: #a9a8a8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
body{
    font-family: 'Quicksand', sans-serif;
    padding-top: calc(var(--heigth-header) + 10px);
}

#root{
    width: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}